*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.navbar{
    height:80px;
    width: 100%;
    background-color: white;
    box-shadow: 0 2px 10px gainsboro;
    display: flex;
}

.logo-container,
.category-container,
.search-container,
.menu-container{
    height: 100%;

}


.logo-container{
    width: 10%;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: 80%;
}


.category-container{
    width: 40%;
    display: flex;
    list-style: none;

}


.category-container>li{
    height: 100%;
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    padding: 0 10px;
    font-size: 12px;
    font-weight: 600;
    justify-content: center;
    cursor: pointer;
    
}

.category-container>li>sup{
    margin-bottom: 10px;
    color: crimson;
    align-items:2px;
}


.category-container>li:hover{
    border-bottom: 2px solid red;
    border-top: 2px solid transparent;

}

.category-container>li:nth-child(1):hover{
    border-bottom: 2px solid #ee5f73;
}

.category-container>li:nth-child(2):hover{
    border-bottom: 2px solid #ff3f6c;
}

.category-container>li:nth-child(3):hover{
    border-bottom: 2px solid #f26a10;
}

.category-container>li:nth-child(4):hover{
    border-bottom: 2px solid #0db7af;
}

.category-container>li:nth-child(5):hover{
    border-bottom: 2px solid #0db7af;
}

.category-container>li:nth-child(6):hover{
    border-bottom: 2px solid #ff3f6c;
}


.category-container>li:nth-child(7):hover{
    border-bottom: 2px solid crimson;
}

.logo-container > img{
    height: 80px;
    
}

.logo-container{
    width: 10%;
    background-color:yellow;
}


.search-container{
    width: 35%;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar{
    height: 50px;
    width: 80%;
    background-color: #f5f5f6;
    border-radius: 5px;
    border: 1px solid black;
    display: flex;
    align-items: center;

}

.search-icon{
    padding: 0 10px;
}
.search-bar>input{
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    padding-left: 15px;
}

.menu-container{
    width: 15%;
    background-color: lightgreen;
}
