*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
.navbar{
    height: 80px;
    width: 100%;
    /* border: 1px solid black; */
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    box-shadow: 0 0 10px grey;
    /* Properties- x-axis(move), y-axis, opacity(blur or spread), color */
}
.logo{
    /* background-color: yellow*/
    font-weight: 600;
}
.nav-links{
   height: 80%;
   width: 60%;
   /* background-color: lightblue; */
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.nav-links>ul{
    /* border: 1px solid black; */
    display: flex;
    list-style: none;
    /* To remove the bullets from list items */
    justify-content: space-between;
    width: 80%;
    font-weight: 600;
}
.nav-links> icons{
    /* border: 1px solid black; */
    display: flex;
    gap: 20px;
    font-size: 20px;
}